header{
	height: 200px;
	background: #FF1493;

}
footer{
	margin-top: 400px;
	height: 200px;
	background: #FF1493;
}
.titulo, .sub-titulo{
	color:#fff;
}
.info-privacidade{
	color:#fff;
}
.form-index{
	width: 500px;
	height: 300px;
	text-align: center;
}
#loading{
	display:none;
}
#cad_success, #mg-info-login{
	display: none;
	color:#3CB371;
}
#cad_fail{
	display: none;
	color:#f00;
}
table, th, .titulo-tabela	{
	text-align: center;
	color:#099;
}

div.img-trofeu{
	width: 150px;
	height: 100px;
}

.color-index{
	background: #ADD8E6;
	height: 600px;
}
.titulo-form-index{
	font-weight: bold;
}